# Pandas Cheatsheet

In [37]:
import pandas as pd

## Pandas series

In [38]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5])
t = pd.Series(["Angel", "MIX", "sky"])

# Accessing elements by index
s[0]   # Returns the first element
s[1:3] # Returns a new Series with elements 1 and 2

# Accessing elements by label
s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
s['a']    # Returns the element with label 'a'
s[['a', 'c', 'e']]  # Returns a new Series with elements 'a', 'c', and 'e'

# Arithmetic operations
s + 10   # Adds 10 to each element of s
s * 2    # Multiplies each element of s by 2
s / 2    # Divides each element of s by 2

# Boolean operations
s > 3    # Returns a new Series of boolean values indicating whether each element is greater than 3
s[s > 3] # Returns a new Series with only the elements greater than 3

s.sum()    # Returns the sum of all elements in s
s.mean()   # Returns the mean of all elements in s
s.median() # Returns the median of all elements in s
s.min()    # Returns the minimum element in s
s.max()    # Returns the maximum element in s
s.std()    # Returns the standard deviation of all elements in s

t.str.lower()     # Returns a new Series with all string elements converted to lowercase
t.str.upper()     # Returns a new Series with all string elements converted to uppercase
t.str.len()       # Returns a new Series with the length of each string element
t.str.contains('a') # Returns a new Series of boolean values indicating whether each string element contains the letter 'a'

s.isna()    # Returns a new Series of boolean values indicating whether each element is missing (NaN)
s.dropna()  # Returns a new Series with all missing elements removed
s.fillna(0) # Returns a new Series with all missing elements filled with 0

## From series to dataframe

In [39]:
# Make a Series of different foods
foods = pd.Series(["Almond butter", "Eggs", "Avocado"])

# Make a Series of different dollar values 
prices = pd.Series([9, 6, 2])

# Combine your Series of foods and dollar values into a DataFrame
food_data = pd.DataFrame({"Foods": foods,
                          "Price": prices})

food_data.set_index("Foods")

## Reading data

In [40]:
df = pd.read_csv('filename.csv', index_col=0) # read CSV file
df = pd.read_excel('filename.xlsx', index_col=0) # read Excel file
#df = pd.read_sql('query', connection) # read data from SQL database

## Basic operations

In [41]:
df.head(10) # show first n rows of DataFrame
df.tail(10) # show last n rows of DataFrame
df.shape # get number of rows and columns
df.columns # get column names
df.index # get row index
df.info() # get information about DataFrame
df.describe() # get summary statistics for numeric columns
df.sort_values('duration_ms', ascending=True) # sort DataFrame by column
df.drop('duration_ms', axis=1) # remove a column
df.drop_duplicates() # remove duplicate rows

## Indexing and selection

In [42]:
df['duration_ms'] # select a single column by name
df[['duration_ms', 'loudness']] # select multiple columns by name
df.iloc[4, 5] # select data by integer location
#df.loc['Eggs'] # select data by label
#df.query('popularity') # select data by condition

## Data cleaning

In [43]:
df.isnull() # check for missing values
df.fillna(0) # fill missing values with a given value
df.dropna() # drop rows with missing values
df.replace("a", "b") # replace values in DataFrame
df.apply(lambda x: x+1) # apply a function to each row or column
df.rename(columns={'old_name': 'new_name'}) # rename columns
df["energy"].astype("int") # change column data type

## Grouping and aggregation

In [44]:
df.groupby('genre').mean() # group by column and get mean of each group
df.groupby(['genre', 'danceability']).agg(['mean', 'median', 'max']) # group by multiple columns and get multiple aggregations
df.pivot_table(values='duration_ms', index='danceability', columns='genre', aggfunc='mean') # create a pivot table

## Merging and joining

In [45]:
#df1.merge(df2, on='column_name') # merge two DataFrames by a shared column
#df1.join(df2, how='inner') # join two DataFrames by index

## Exporting data

In [46]:
df.to_csv('filename.csv', index=False) # export DataFrame to CSV file
df.to_excel('filename.xlsx', index=False) # export DataFrame to Excel file
#df.to_sql('table_name', connection) # export DataFrame to SQL database

# Going into details...

pandas.**dropna()** is a function in the Pandas library of Python used to remove missing or null values from a DataFrame or a Series.

- axis: It specifies the axis along which the null values are to be dropped. By default, it is set to 0 which means it drops the rows containing null values.
- how: It specifies the condition for dropping the rows or columns. It takes two values: 'any' or 'all'. 'any' means that it drops the row or column if there is at least one null value in it. 'all' means it drops the row or column if all the values in it are null.
- thresh: It is the minimum number of non-null values required to keep the row or column. If the number of non-null values in the row or column is less than this threshold value, it will be dropped.
- subset: It specifies the columns or rows from which the null values are to be dropped.
- inplace: It is a boolean value that specifies whether to modify the DataFrame in place or return a new DataFrame without null values.

In [47]:
import pandas as pd

# Creating a DataFrame with missing values
df = pd.DataFrame({'A': [1, 2, None, 4],
                   'B': [5, None, None, 8],
                   'C': [9, 10, 11, 12]})

# Dropping the rows with null values
df.dropna(inplace=True, how='any')
print(df)

fillna is a method in pandas that allows us to fill missing values in a DataFrame or a Series. Here are some of its most common parameters:

- value: This parameter specifies the value to use for filling missing values.
- method: This parameter specifies the method to use for filling missing values. For example, we can use "ffill" to fill missing values with the previous non-missing value, or "bfill" to fill missing values with the next non-missing value.
- axis: This parameter specifies the axis along which to fill missing values. By default, it is set to 0, which means that missing values are filled vertically, column by column. If it is set to 1, missing values are filled horizontally, row by row.
- inplace: This parameter specifies whether to modify the DataFrame or Series in place or return a new one with the missing values filled. By default, it is set to False, which means that a new DataFrame or Series is returned. If it is set to True, the original DataFrame or Series is modified in place.

In [48]:
import pandas as pd
import numpy as np

# create a Series with missing values
s = pd.Series([1, 2, np.nan, 4, np.nan, 6])

# fill missing values with the mean
s = s.fillna(method='ffill')

print(s)

**melt()** is a function in the Pandas library that helps to transform or reshape a dataframe from a wide format to a long format. It takes a dataframe as input and unpivots it into a more normalized form suitable for data analysis or visualization.

The melt() function pivots the DataFrame from a wide format to a long format by "melting" or unpivoting selected columns into rows, while keeping all the other columns fixed.

The main parameters for the melt() function are:
- 
- id_vars: The column(s) that will remain the same and will not be melted.
- value_vars: The column(s) to be melted.
- var_name: The name of the column to be created for the melted columns.
- value_name: The name of the column to be created for the values of the melted columns.

In [49]:
import pandas as pd

df = pd.DataFrame({
    'name': ['Bob', 'Sue', 'John'],
    'math': [80, 90, 70],
    'physics': [75, 85, 80],
    'chemistry': [85, 90, 75]
})

long_df = pd.melt(df, id_vars=['name'], value_vars=['math', 'physics', 'chemistry'], var_name='subject', value_name='score')

print(long_df)

**pandas.read_excel()** is a function that reads data from an Excel file into a pandas DataFrame. It has many optional parameters that can be used to customize how the Excel file is read.

Here are some of the important parameters:

- io: Required parameter. The Excel file to read from, specified as a string or a file-like object.
- sheet_name: The sheet(s) to read from the Excel file. Can be specified as a string or an integer (for sheet index), a list of strings/integers or None (for all sheets).
- header: The row number(s) to use as the column names. By default, it is the first row.
- names: List of column names to use instead of the header row(s).
- index_col: Column(s) to use as the row labels of the DataFrame.
- usecols: Columns to read from the Excel file. Can be specified as a string (e.g. "A:C"), a list of strings (e.g. ["A", "C", "D"]), or a range (e.g. "A:D").
- skiprows: Number of rows to skip from the beginning of the Excel file.
- skipfooter: Number of rows to skip from the end of the Excel file.
- nrows: Number of rows to read from the Excel file.
- dtype: Data type for one or more columns.
- na_values: Values to consider as missing values.
- parse_dates: Columns to parse as dates.
- date_parser: Function to use to parse dates.
- keep_default_na: Whether or not to keep the default NaN values when parsing the Excel file.
- thousands: Separator to use for thousands (e.g. ',' or '.').
- decimal: Separator to use for decimal points (e.g. ',' or '.').
- engine: The parsing engine to use. Can be "xlrd" (default), "openpyxl", or "odf".